# .gitignore

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Egg info
*.egg-info/

# Log files
*.log
logs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store

notebooks/
**/__pycache__/
